/* Animacion del fondo que es solo el gradiante subiendo y bajando */
body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(87, 27, 27));
    background-size: 200% 200%;
    animation: fondoAnimado 3s ease infinite;
}

/* Seccion del header que se encarga de la barra superior */
header nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(87, 27, 27);
    border: 5px solid black;
}

header nav p{
    text-align: center;
    color: white;
    transition: ease-in-out 0.3s;
}

header nav #selec:hover{ /* Animaciones la pasar por encima de los textos */
    color: yellow;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
}

/* Seccion del main */
main{
    display: grid;
}

main img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 700px;
}

/* Seccion de los contenidos inferiores del logo */
.content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px 60px;
}

/* Seccion de los supervivientes */
#sectionSurvivors{
    display: grid;
    background-color: rgba(29, 126, 222, 0.02);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#survivorIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../ICONS/survivor_icon.webp");
}

#sectionSurvivors #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionSurvivors:hover{ /* Animacion al pasar por encima */
    cursor: pointer;
    transform: scale(1.1);
}

#sectionSurvivors:hover #extra{ /* Animacion del texto extra al pasar por encima */
    transform: scale(1.05);
    opacity: 1;
}

/* Seccion de los exe */
#sectionExecutioners{
    display: grid;
    background-color: rgba(222, 29, 29, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#exeIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../ICONS/executioners_icon.webp");
}

#sectionExecutioners #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionExecutioners:hover{ /* Animacion al pasar por encima */
    cursor: pointer;
    transform: scale(1.1);
}

#sectionExecutioners:hover #extra{ /* Animacion del texto extra al pasar por encima */
    transform: scale(1.05);
    opacity: 1;
}

/* Seccion de los mapas */
#sectionMaps{
    display: grid;
    background-color: rgba(209, 222, 29, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#mapIcon{
    display: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../ICONS/map_icon.webp");
}

#sectionMaps #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionMaps:hover{ /* Animacion al pasar por encima */
    cursor: pointer;
    transform: scale(1.1);
}

#sectionMaps:hover #extra{ /* Animacion del texto extra al pasar por encima */
    transform: scale(1.05);
    opacity: 1;
}

/* Seccion de los extras */
#sectionExtras{
    display: grid;
    background-color: rgba(29, 222, 106, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 2;
    transition: ease-in-out 0.3s; 
}

#extraIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../ICONS/LORE.webp");
}

#sectionExtras #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionExtras:hover{ /* Animacion al pasar por encima */
    cursor: pointer;
    transform: scale(1.1);
}

#sectionExtras:hover #extra{ /* Animacion del texto extra al pasar por encima */
    transform: scale(1.05);
    opacity: 1;
}

/* Animacion del fondo */
@keyframes fondoAnimado {
    0%{
        background-position:0% 0%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 00%;
    }
}