body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(87, 27, 27));
    background-size: 200% 200%;
    animation: fondoAnimado 3s ease infinite;
}

header{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(87, 27, 27);
    border: 5px solid black;
}

header p{
    text-align: center;
    color: white;
    transition: ease-in-out 0.3s;
}

header #selec:hover{
    color: yellow;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.05);
}

main{
    display: grid;
}

main img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 700px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 20px 60px;
}

#sectionSurvivors{
    display: block;
    background-color: rgba(29, 126, 222, 0.02);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#sectionSurvivors:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#sectionSurvivors:hover #extra{
    transform: scale(1.05);
    opacity: 1;
}

#survivorIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../IMG/survivor_icon.webp");
}

#sectionSurvivors #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionExecutioners{
    display: grid;
    background-color: rgba(222, 29, 29, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#sectionExecutioners:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#sectionExecutioners:hover #extra{
    transform: scale(1.05);
    opacity: 1;
}

#exeIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../IMG/executioners_icon.webp");
}

#sectionExecutioners #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#mapIcon{
    display: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../IMG/map_icon.webp");
}

#sectionExecutioners #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionMaps{
    display: block;
    background-color: rgba(209, 222, 29, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    transition: ease-in-out 0.3s; 
}

#sectionMaps:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#sectionMaps:hover #extra{
    transform: scale(1.05);
    opacity: 1;
}

#sectionMaps #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

#sectionExtras{
    background-color: rgba(29, 222, 106, 0.063);
    border: 1px solid black;
    color: white;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 2;
    transition: ease-in-out 0.3s; 
}

#sectionExtras:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#sectionExtras:hover #extra{
    transform: scale(1.05);
    opacity: 1;
}

#extraIcon{
    grid-template-columns: subgrid;
    width: 100px;
    height: 100px;
    margin-top: -10px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../IMG/LORE.webp");
}

#sectionExtras #extra{
    grid-template-columns: subgrid;
    opacity: 0;
    transition: opacity 0.3s; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    z-index: 1;
}

@keyframes fondoAnimado {
    0%{
        background-position:0% 0%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 00%;
    }
}