body{
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
}

header{
    font-size: 25px;
    background-color: rgba(127, 226, 125, 0.668);
    border: 1px solid white;
    margin-top: -10px;
}

main{
    display: grid;
    grid-template-columns: repeat(2,auto);
}

.formWorld{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 20px;
    background-color: rgba(98, 98, 98, 0.516);
    border-radius: 100px;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.formWorld input{
    text-align: center;
    border-radius: 20px;
    align-self: center;
    width: 20%;
    padding-left:15px;
}

.formWorld .map input{
    width: 7%;
}
.formWorld .map{
    margin-bottom: 20px;
    grid-column: 1 / 4;
}

.formWorld .nature{
    background-color: rgba(89, 230, 89, 0.259);
    border-radius: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.formWorld .urban{
    background-color: rgba(230, 188, 89, 0.259);
    border-radius: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.formWorld .comercial{
    background-color: rgba(89, 190, 230, 0.259);
    border-radius: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;    
}

.formWorld button{
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;    
    width: 200px;
    height: 100px;
    border-radius: 200px;
    background-color: coral;
}

iframe{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 200px;
    margin-top: 20px;
}