/* Reset básico */
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

body{
    text-align: left;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 24px;
}

main{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: calc(100vh - 149px);
}

form{
    text-align: start;
    background-color: lightgray;
    overflow-y: auto;  
    overflow-x: hidden;
    max-width: 100%;   
    box-sizing: border-box;
}

form h3{
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
}

form .generalSettings,
form .natureSettings,
form .urbanSettings,
form .comercialSettings{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.generalSettings{
    background-image: url("../IMG/settings.avif");
    background-size: cover;
    background-position: center;
}

.natureSettings{
    background-image: url('../IMG/nature.jpg');
    background-size: cover;
    background-position: center;
}

.urbanSettings{
    background-image: url('../IMG/urban.avif');
    background-size: cover;
    background-position: center;
}

.comercialSettings{
    background-image: url('../IMG/comercial.avif');
    background-size: cover;
    background-position: center;
}

form input{
    margin: 5px;
    width: 60%;
    box-sizing: border-box;
}

form button{
    margin: 10px;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
}

#result {
    background: #f0f0f0;
    border-left: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

#world {
    display: grid;
    gap: 1px;
    background: #222;
    width: 100%;
    height: 90%;
    max-width: 100vw; 
    max-height: 100vh;
    box-sizing: border-box;
}

.cell {
    aspect-ratio: 1 / 1; /* Cada celda es cuadrada */
    width: 100%;
    height: 100%;
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: 30% 70%;
        height: calc(100vh - 149px);
    }

    form, #result {
        width: 100%;
        height: auto;
        border: none;
    }
}